* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#container {   
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    background-color: white;
    border: 25px solid gray;
    border-radius: 16px;
}
